{% include "header.html" %}

<div class="container">
    <div class="progress">
        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width:70%;" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">70%</div>
    </div>
</div>
<br>
<div class="container">
    <h4 class="rahmen">Analysen</h4>
    <br>
        <p style="text-align: justify;">
        In diesem Schritt bestimmen Sie, wie Sie Ihren Informationsbedarf analysieren. Wählen Sie den betroffenen
            Informationsbedarf aus und beschreiben Sie, die Messzahl, die Sie dafür verwenden möchten. Notieren Sie
        auch die Berechnung dieser Messzahl und überlegen Sie sich, welche Darstellungsart dafür geeignet ist. Nachdem
        Sie für jeden Informationsbedarf eine Messzahl definiert haben, klicken Sie auf «Weiter».</p>
    <form action="/analysen" method="POST">
        <div class="input-group mb-3">
            <select id="informationsbedarf" name="informationsbedarf" class="form-control" placeholder="Informationsbedarf">
                <option value="" selected disabled>Informationsbedarf wählen</option>
                <!-- Hier werden die Dropdown-Optionen aus der CSV-Datei eingefügt -->
                {% for bedarf in dropdown_options %}
                    <option value="{{ bedarf }}">{{ bedarf }}</option>
                {% endfor %}
            </select>
            <input type="text" id="messzahl" name="messzahl" class="form-control" placeholder="Beschreibung der Messzahl" aria-label="Beschreibung der Messzahl">
            <input type="text" id="berechnung" name="berechnung" class="form-control" placeholder="Berechnung der Messzahl" aria-label="Berechnung der Messzahl">
            <select id="art" name="art" class="form-control" placeholder="Darstellungsart">
                <option value="keine Angabe" selected >Darstellungsart wählen</option>
                <option value="Datenfeld">Datenfeld</option>
                <option value="Balkendiagramm">Balkendiagramm</option>
                <option value="Liniendiagramm">Liniendiagramm</option>
                <option value="D">weitere</option>
            </select>
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="submit">Informationsbedarf hinzufügen</button>
            </div>
        </div>
    </form>
    <br>
    <h5>Gespeicherte Analysen</h5>
    <div class="table-container" style="display: inline-block;">
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>Nummer</th>
                    <th>Informationsbedarf</th>
                    <th>Beschreibung</th>
                    <th>Berechnung</th>
                    <th>Darstellungsart</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for nummer, analyse in analysen %}
                <tr>
                    <td>{{ nummer }}</td>
                    <td>{{ analyse[0] }}</td>
                    <td>{{ analyse[1] }}</td>
                    <td>{{ analyse[2] }}</td>
                    <td>{{ analyse[3] }}</td>
                    <td>
                        <form action="/analysen/delete" method="POST">
                            <input type="hidden" name="analyse_nummer" value="{{ nummer }}">
                            <input type="submit" value="Löschen">
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<br>
<br>
<div class="text-center">
    <a href="/etl" class="btn btn-secondary">Zurück</a>
    <a href="/informationsbereitstellung" class="btn btn-primary">Weiter</a>
</div>
{% include "footer.html" %}
