{% include "header.html" %}
<br>
<br>
<div class="container">
    <h3 class="rahmen">Datenquellen</h3>    <br>
    <br>
    <form action="/datenquellen" method="POST">
        <div class="input-group mb-3">
            <input type="text" id="anwendung" name="anwendung" class="form-control" placeholder="Name der Anwendung" aria-label="Name der Anwendung eingeben">
            <input type="text" id="inhalt" name="inhalt" class="form-control" placeholder="Inhalt (bspw. Personendaten)" aria-label="Inhalt eingeben">
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="submit">Datenquelle hinzufügen</button>
            </div>
        </div>
    </form>
    <br>
    <h4>Gespeicherte Datenquellen:</h4>
    <br>
    <div class="table-container" style="display: inline-block;">
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>Nummer</th>
                    <th>Anwendung</th>
                    <th>Inhalt</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for nummer, datenquelle in datenquellen %}
                <tr>
                    <td>{{ nummer }}</td>
                    <td>{{ datenquelle[0] }}</td>
                    <td>{{ datenquelle[1] }}</td>
                    <td>
                        <form action="/datenquellen/delete" method="POST">
                            <input type="hidden" name="datenquelle_nummer" value="{{ nummer }}">
                            <input type="submit" value="Löschen">
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% include "footer.html" %}
