{% include "header.html" %}
<br>
<br>
<div class="container">
    <h3 class="rahmen">Datenmangementkonzept</h3> <br>
    <table class="table table-striped table-hover">
        <tr>
            <th><strong>Datenmanagement</strong></th>
        </tr>
        <tr>
            <td>Konzeption</td>
            <td>
                <input type="checkbox" name="konzeption" value="intern">intern<br>
                <input type="checkbox" name="konzeption" value="externe Partner">externe Partner
            </td>
        </tr>
        <tr>
            <th><strong>Architektur</strong></th>
        </tr>
        <tr>
            <td>Architektur</td>
            <td>
                <input type="checkbox" name="architektur" value="Stove Pipe Ansatz">Stove Pipe Ansatz<br>
                <input type="checkbox" name="architektur" value="Abgestimmte Data Marts">Abgestimmte Data Marts<br>
                <input type="checkbox" name="architektur" value="Core Date Warehouse">Core Date Warehouse<br>
                <input type="checkbox" name="architektur" value="Hub-and-Spoke-Architektur">Hub-and-Spoke-Architektur<br>
                <input type="checkbox" name="architektur" value="Architekturmix">Architekturmix
            </td>
        </tr>
        <tr>
            <td>Genutzte Applikation(en)</td>
            <td><input type="text" name="applikation"></td>
        </tr>
    </table>
</div>



{% include "footer.html" %}
