{% include "header.html" %}

<div class="container">
    <div class="progress">
        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width:40%;" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100">40%</div>
    </div>
</div>
<br>

<div class="container">
    <h4 class="rahmen">Datenquellen</h4>    <br>
        <p style="text-align: justify;">
        Im vorherigen Schritt haben Sie Ihren Informationsbedarf beschrieben. Damit die gesuchte Information generiert
        werden kann, dient in der Regel als Grundlage ein Datensatz, in dem sich die Daten für die Berechnung finden.
        Möchten Sie etwa die Umsatzrendite ermitteln, werden die Daten aus der Finanzbuchhaltungssoftware benötigt.
        Überlegen Sie sich, in welchen Systemen Ihres Unternehmens Sie Daten finden, die für die Business Intelligence
        relevant sind. Hierbei kann es sich auch um Webapplikationen wie Google Analytics handeln oder um Datensätze
        ohne direkten Unternehmensbezug, wie die Statistiken des Bundesamtes für Statistik. Listen Sie möglichst alle
        Datenquellen auf, die Ihnen für Ihr Unternehmen in den Sinn kommen und klicken Sie danach auf «Weiter».</p>    <br>
    <form action="/datenquellen" method="POST">
        <div class="input-group mb-3">
            <input type="text" id="datenquelle" name="datenquelle" class="form-control" placeholder="Name der Anwendung/Datenquelle" aria-label="Name der Anwendung eingeben">
            <input type="text" id="inhalt" name="inhalt" class="form-control" placeholder="Zweck beschreiben" aria-label="Inhalt eingeben">
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="submit">Datenquelle hinzufügen</button>
            </div>
        </div>
    </form>
    <br>
    <h5>Gespeicherte Datenquellen</h5>
    <div class="table-container" style="display: inline-block;">
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>Nummer</th>
                    <th>Anwendung</th>
                    <th>Inhalt</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for nummer, datenquelle in datenquellen %}
                <tr>
                    <td>{{ nummer }}</td>
                    <td>{{ datenquelle[0] }}</td>
                    <td>{{ datenquelle[1] }}</td>
                    <td>
                        <form action="/datenquellen/delete" method="POST">
                            <input type="hidden" name="datenquelle_nummer" value="{{ nummer }}">
                            <input type="submit" value="Löschen">
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<br>
<br>
<div class="text-center">
    <a href="/informationsbedarf" class="btn btn-secondary">Zurück</a>
    <a href="/datenmanagementkonzept" class="btn btn-primary">Weiter</a>
</div>
{% include "footer.html" %}
