{% include "header.html" %}

    <style>
        img {
            display: block;
            margin: 0 auto;
            max-width: 60%;
        }
    </style>

<br>
<div class="container">
    <h4 class="rahmen">Einführung</h4>
    <br>
            <p style="text-align: justify;">
                Business Intelligence (BI) ist ein umfassender Ansatz, der dazu dient, Geschäftszahlen und -daten
                systematisch zu sammeln, zu verarbeiten, zu analysieren und in aussagekräftige Ergebnisse umzuwandeln.
                Dies ermöglicht es Unternehmen, fundierte Entscheidungen zu treffen und wertvolle Erkenntnisse über Geschäftsprozesse,
                Kunden, Märkte und Wettbewerber zu gewinnen. Der Aufbau und der Betrieb der Business
                Intelligence ist komplex und bedarf der Betrachtung verschiedener Aspekte.
                <br><br>
                Diese Webapplikation hat das Ziel, Ihnen den Aufbau der Business Intelligence in Ihrem Unternehmen zu
                vereinfachen und sicherzustellen, dass Sie beim Aufbau systematisch und vollständig vorgehen.
                <br><br>Die Web App orientiert sich
                an dem hier dargestellten Modell. Zu Beginn findet eine Standortbestimmung Ihrer bestehenden Business
                Intelligence statt. Danach überprüfen Sie die Rahmenbedingungen und führen die vier Schritte Planung,
                Datenbereitstellung, Informationsgenerierung und Informationsbereitstellung durch. Wenn Sie danach die
                Standortbestimmung wiederholen, sollten Sie ein optimiertes Ergebnis feststellen.
                <br><br>Klicken Sie weiter unten auf «Starten», um mit dem Prozess zu beginnen.
            <br>
            </p>
         <img src="static/BIA-Schlotter.png" alt="BI Prozess">
      <p class="center-text italic-small">Prozess für den Aufbau der Business Intelligence angelehnt an Baars und Kemper (2021),<br> Guarda et al. (2013),
Khedr et al. (2017), R. M. Müller und Lenz (2013) und Schieder (2015).</p>

    <br>
</div>
<br>
<div class="text-center">
    <a href="/index" class="btn btn-secondary">Zurück</a>
    <a href="/reifegrad" class="btn btn-primary">Starten</a>
</div>


{% include "footer.html" %}
