{% include "header.html" %}

    <style>
        img {
            display: block;
            margin: 0 auto;
            max-width: 50%;
        }
    </style>

<br>
<div class="container">
    <h4 class="rahmen">Einführung</h4>
    <br>

            <p style="text-align: justify;">

                Business Intelligence dient zur Analyse von Geschäftszahlen. Der Aufbau und der Betrieb der Business
                Intelligence ist komplex und bedarf der Betrachtung verschiedener Facetten.
                <br>
                In dieser WebApp wird ein prozessorientierter Ansatz präsentiert, mit dem ein Projekt dieser Tragweite
                geplant werden kann.


            </p>
         <img src="static/BIA-Schlotter.png" alt="BI Prozess">
    <br>
</div>
<br>
<div class="text-center">
    <a href="/index" class="btn btn-secondary">Zurück</a>
    <a href="/reifegrad" class="btn btn-primary">Starten</a>
</div>


{% include "footer.html" %}
