{% include "header.html" %}

<div class="container">
    <div class="progress">
        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width:60%;" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100">60%</div>
    </div>
</div>

<br>
<div class="container">
    <h4 class="rahmen">ETL-Prozess</h4>    <br>
</div>


<div class="container">
    <form action="/submit_etl" method="POST"><br>
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th colspan="2" style="background-color: blue; color: white;">Datenextraktion</th>
                </tr>
            </thead>
            <tbody>
            <tr style="background-color: gray;">
                    <td colspan="2"><strong>Identifikation der Datenquelle</strong></td>
                </tr>
                <tr style="background-color: lightgray;">
                    <td>Name der Applikation</td>
                    <td>
                        <select id="Applikation" name="Applikation" class="form-control" placeholder="Applikation">
                            <option value="" selected disabled>Applikation wählen</option>
                            <!-- Hier werden die Dropdown-Optionen aus der CSV-Datei eingefügt -->
                            {% for datenquelle in dropdown_options %}
                                <option value="{{ datenquelle }}">{{ datenquelle }}</option>
                            {% endfor %}
                        </select>
                </tr>
                <tr style="background-color: silver;">
                    <td>Datenart</td>
                    <td>
                        <div class="form-group">
                            <div class="input-group">
                                <select class="form-select form-select-sm" aria-label=".form-select-sm example" name="architektur">
                                    <option value="" disabled selected>auswählen</option>
                                    <option alue="operative Geschäftsdaten">operative Geschäftsdaten</option>
                                    <option value="Personaldaten">Personaldaten</option>
                                    <option value="finanzielle Geschäftsdaten">finanzielle Geschäftsdaten</option>
                                    <option value="externe Datenquellen">externe Datenquellen</option>
                                    <option value="Metadaten">Metadaten</option>
                                     <option value="andere">andere</option>
                                </select>
                                <input type="hidden" name="Datenart" id="Datenart">
                            </div>
                    </div>
                    </td>
                </tr>
                <tr style="background-color: lightgray;">
                    <td colspan="2"><strong>Modus</strong></td>
                </tr>

                <tr style="background-color: gray;">
                    <td colspan="2"><strong>Zeitliche Abfragesteuerung</strong></td>
                </tr>
                <tr style="background-color: lightgray;">
                    <td>Abfragen außerhalb der operativen Nutzungszeiten möglich?</td>
                    <td>
                        <input type="radio" name="abfragen_möglich" value="ja"> ja<br>
                        <input type="radio" name="abfragen_möglich" value="nein"> nein
                    </td>
                </tr>
                <tr style="background-color: silver;">
                    <td>Geplanter Zeitpunkt Frequenz</td>
                    <td>
                        <input type="text" name="geplanter_zeitpunkt">
                        <br>
                        <input type="checkbox" name="frequenz" value="täglich"> täglich
                        <input type="checkbox" name="frequenz" value="wöchentlich"> wöchentlich
                        <input type="checkbox" name="frequenz" value="monatlich"> monatlich
                    </td>
                </tr>
                <tr style="background-color: lightgray;">
                    <td>Abfragen außerhalb der operativen Nutzungszeiten möglich?</td>
                    <td>
                        <input type="radio" name="abfragen_möglich_2" value="ja"> ja<br>
                        <input type="radio" name="abfragen_möglich_2" value="nein"> nein
                    </td>
                </tr>
                <tr style="background-color: gray;">
                    <td colspan="2"><strong>Eingriffe in das operative System</strong></td>
                </tr>
                <tr style="background-color: lightgray;">
                    <td>Abfrageart</td>
                    <td>
                        <input type="radio" name="abfrageart" value="Direkt auf Datenbank"> Direkt auf Datenbank<br>
                        <input type="radio" name="abfrageart" value="REST API"> REST API<br>
                        <input type="radio" name="abfrageart" value="Andere"> Andere: <input type="text" name="andere_abfrageart">
                    </td>
                </tr>
                <tr style="background-color: silver;">
                    <td>Beschreibung der Konfiguration</td>
                    <td><input type="text" name="konfigurationsbeschreibung"></td>
                </tr>
                <tr style="background-color: gray;">
                    <td colspan="2"><strong>Abfragestrategie</strong></td>
                </tr>
                <tr style="background-color: lightgray;">
                    <td>Verfahren</td>
                    <td>
                        <input type="radio" name="verfahren" value="komplett"> komplett<br>
                        <input type="radio" name="verfahren" value="Änderungen"> Änderungen<br>
                        <input type="radio" name="verfahren" value="Trigger"> Trigger<br>
                        <input type="radio" name="verfahren" value="Log Sniffing"> Log Sniffing
                    </td>
                </tr>
                <tr style="background-color: gray;">
                    <td colspan="2"><strong>Datenübertragung</strong></td>
                </tr>
                <tr style="background-color: lightgray;">
                    <td>Komprimierung bei der Datenübertragung implementiert</td>
                    <td>
                        <input type="radio" name="datenübertragung_komprimierung" value="ja"> ja<br>
                        <input type="radio" name="datenübertragung_komprimierung" value="nein"> nein
                    </td>
                </tr>
                <tr style="background-color: silver;">
                    <td>Verschlüsselung der Datenübertragung sichergestellt</td>
                    <td>
                        <input type="radio" name="datenübertragung_verschlüsselung" value="ja"> ja<br>
                        <input type="radio" name="datenübertragung_verschlüsselung" value="nein"> nein
                    </td>
                </tr>
                <tr style="background-color: gray;">
                    <td colspan="2"><strong>Datenschutz</strong></td>
                </tr>
                <tr style="background-color: lightgray;">
                    <td>Handling mit Personendaten</td>
                    <td>
                        <input type="radio" name="personendaten_handling" value="erkennbar"> erkennbar<br>
                        <input type="radio" name="personendaten_handling" value="pseudonymisiert"> pseudonymisiert<br>
                        <input type="radio" name="personendaten_handling" value="anonymisiert"> anonymisiert
                    </td>
                </tr>
            </tbody>
        </table>
        <br>

        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th colspan="2" style="background-color: blue; color: white;">Datentransformation</th>
                </tr>
            </thead>
            <tbody>
                <tr style="background-color: gray;">
                    <td colspan="2"><strong>Schema</strong></td>
                </tr>
                <tr style="background-color: lightgray;">
                    <td>Namenskonflikte</td>
                    <td>
                        <input type="radio" name="namenskonflikte" value="vorhanden"> vorhanden<br>
                        <input type="radio" name="namenskonflikte" value="nicht vorhanden"> nicht vorhanden
                    </td>
                </tr>
                <tr style="background-color: silver;">
                    <td>Strukturelle Konflikte</td>
                    <td>
                        <input type="radio" name="strukturelle_konflikte" value="vorhanden"> vorhanden<br>
                        <input type="radio" name="strukturelle_konflikte" value="nicht vorhanden"> nicht vorhanden
                    </td>
                </tr>
                <tr style="background-color: gray;">
                    <td colspan="2"><strong>Aufzeichnungsebene</strong></td>
                </tr>
                <tr style="background-color: lightgray;">
                    <td>Duplizierte oder widersprüchliche Werte</td>
                    <td>
                        <input type="radio" name="duplizierte_werte" value="vorhanden"> vorhanden<br>
                        <input type="radio" name="duplizierte_werte" value="nicht vorhanden"> nicht vorhanden
                    </td>
                </tr>
                <tr style="background-color: silver;">
                    <td>Inkonsistenzen</td>
                    <td>
                        <input type="radio" name="inkonsistenzen" value="vorhanden"> vorhanden<br>
                        <input type="radio" name="inkonsistenzen" value="nicht vorhanden"> nicht vorhanden
                    </td>
                </tr>
                <tr style="background-color: gray;">
                    <td colspan="2"><strong>Wertebene</strong></td>
                </tr>
                <tr style="background-color: lightgray;">
                    <td>Datumsformate</td>
                    <td>
                        <input type="radio" name="datumsformate" value="stimmig"> stimmig<br>
                        <input type="radio" name="datumsformate" value="unterschiedlich"> unterschiedlich
                    </td>
                </tr>
                <tr style="background-color: silver;">
                    <td>Kommastellen</td>
                    <td>
                        <input type="radio" name="kommastellen" value="einheitlich"> einheitlich<br>
                        <input type="radio" name="kommastellen" value="nicht einheitlich"> nicht einheitlich
                    </td>
                </tr>
                <tr style="background-color: lightgray;">
                    <td>Fehlende Werte</td>
                    <td>
                        <input type="radio" name="fehlende_werte" value="einheitlich"> einheitlich<br>
                        <input type="radio" name="fehlende_werte" value="nicht einheitlich"> nicht einheitlich
                    </td>
                </tr>
                <tr style="background-color: silver;">
                    <td>Verwendung von SQL-Operatoren</td>
                    <td>
                        <input type="radio" name="sql_operatoren" value="vorhanden"> vorhanden<br>
                        <input type="radio" name="sql_operatoren" value="nicht vorhanden"> nicht vorhanden
                    </td>
                </tr>
                <tr style="background-color: gray;">
                    <td colspan="2"><strong>Schlüssel</strong></td>
                </tr>
                <tr style="background-color: lightgray;">
                    <td>Bezeichnung Primärschlüssel</td>
                    <td><input type="text" name="bezeichnung_primärschlüssel"></td>
                </tr>
                <tr style="background-color: silver;">
                    <td>Primärschlüssel über alle Datenbestände einheitlich?</td>
                    <td>
                        <input type="radio" name="primärschlüssel_einheitlich" value="stimmig"> stimmig<br>
                        <input type="radio" name="primärschlüssel_einheitlich" value="unterschiedlich"> unterschiedlich
                    </td>
                </tr>
            </tbody>
        </table>
        <br>

        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th colspan="2" style="background-color: blue; color: white;">Laden</th>
                </tr>
            </thead>
            <tbody>
                <tr style="background-color: gray;">
                    <td colspan="2"><strong>Vorgehensweise</strong></td>
                </tr>
                <tr style="background-color: lightgray;">
                    <td>Ladevorgang</td>
                    <td>
                        <input type="radio" name="ladevorgang" value="komplett"> komplett<br>
                        <input type="radio" name="ladevorgang" value="inkrementell"> inkrementell
                    </td>
                </tr>
                <tr style="background-color: silver;">
                    <td>Zielort</td>
                    <td><input type="text" name="zielort"></td>
                </tr>
                <tr style="background-color: lightgray;">
                    <td>Name der Datentabelle</td>
                    <td><input type="text" name="datentabellenname"></td>
                </tr>
            </tbody>
        </table>
        <br>
        <div class="text-center">
            <input type="submit" value="Speichern" class="btn btn-primary btn-lg">
        </div>
    </form>

            </form><br>
            <h5>Gespeicherte Ziele:</h5>
            <div class="table-container" style="display: inline-block;">
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th>Nummer</th>
                            <th>Ziel</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for nummer, ziel in ziele %}
                        <tr>
                            <td>{{ nummer }}</td>
                            <td>{{ ziel }}</td>
                            <td>
                                <form action="/unternehmensziele/delete" method="POST">
                                    <input type="hidden" name="ziel_nummer" value="{{ nummer }}">
                                    <input type="submit" value="Löschen">
                                </form>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
</div>
<br>
<br>
<div class="text-center">
    <a href="/datenmanagementkonzept" class="btn btn-secondary">Zurück</a>
    <a href="/analysen" class="btn btn-secondary">Weiter</a>
</div>

<script>
    $(function () {
        $('#radioBtn a').on('click', function () {
            var sel = $(this).data('title');
            var tog = $(this).data('toggle');
            $('#' + tog).prop('value', sel);

            $('a[data-toggle="' + tog + '"]').not('[data-title="' + sel + '"]').removeClass('active').addClass('notActive');
            $('a[data-toggle="' + tog + '"][data-title="' + sel + '"]').removeClass('notActive').addClass('active');
        });
    });
</script>


{% include "footer.html" %}
