{% include "header.html" %}

<div class="container">
    <h4 class="rahmen">Evaluationsbogen für den Business Intelligence-Prozess</h4>
    <form action="/submit_feedback" method="post">

    <table class="likert-table">
  <br>
        <br>
      <tr>
        <td>Vor-/Nachname (oder Initialen):</td>
        <td><input type="text" name="name" required></td>
      </tr>
      <tr>
        <td>Branche:</td>
        <td><input type="text" name="industry" required></td>
      </tr>
      <tr>
        <td>Unternehmensgröße:</td>
        <td>
          <select class="form-select form-select-sm" name="company_size" required>
            <option value="">Bitte auswählen</option>
            <option value="1-9 MA">1-9 Mitarbeitende</option>
            <option value="10-49 MA">10-49 Mitarbeitende</option>
            <option value="50-249 MA">50-249 Mitarbeitende</option>
            <option value=">249+ MA">>249 Mitarbeitende</option>
          </select>
        </td>
      </tr>
      <tr>
        <td>Einschätzung der eigenen BI-Kenntnisse: </td>
        <td>
          <select class="form-select form-select-sm" name="knowledge" required>
            <option value="">Bitte auswählen</option>
            <option value="0">Keine Kenntnisse</option>
            <option value="1">Grundkenntnisse</option>
            <option value="2">Fortgeschrittene Kenntnisse</option>
            <option value="3">Experte</option>
          </select>
        </td>
      </tr>
    </table>
      <br>
      <br>
     <div class="wrap">
        <label class="statement">Das Tool ist einfach zu bedienen.</label>
        <ul class='likert'>
          <li>
            <input type="radio" name="bedienung" value="1">
            <label>Stimme überhaupt nicht zu</label>
          </li>
          <li>
            <input type="radio" name="bedienung" value="2">
            <label>Stimme eher nicht zu</label>
          </li>
          <li>
            <input type="radio" name="bedienung" value="3">
            <label>Neutral</label>
          </li>
          <li>
            <input type="radio" name="bedienung" value="4">
            <label>Stimme eher zu</label>
          </li>
          <li>
            <input type="radio" name="bedienung" value="5">
            <label>Stimme voll und ganz zu</label>
          </li>
        </ul>

        <label class="statement">Das Tool ist logisch und umfassend aufgebaut.</label>
        <ul class='likert'>
          <li>
            <input type="radio" name="aufbau" value="1">
            <label>Stimme überhaupt nicht zu</label>
          </li>
          <li>
            <input type="radio" name="aufbau" value="2">
            <label>Stimme eher nicht zu</label>
          </li>
          <li>
            <input type="radio" name="aufbau" value="3">
            <label>Neutral</label>
          </li>
          <li>
            <input type="radio" name="aufbau" value="4">
            <label>Stimme eher zu</label>
          </li>
          <li>
            <input type="radio" name="aufbau" value="5">
            <label>Stimme voll und ganz zu</label>
          </li>
        </ul>

        <label class="statement">Bei der Bedienung treten keine Fehler auf.</label>
        <ul class='likert'>
          <li>
            <input type="radio" name="stabilitaet" value="1">
            <label>Stimme überhaupt nicht zu</label>
          </li>
          <li>
            <input type="radio" name="stabilitaet" value="2">
            <label>Stimme eher nicht zu</label>
          </li>
          <li>
            <input type="radio" name="stabilitaet" value="3">
            <label>Neutral</label>
          </li>
          <li>
            <input type="radio" name="stabilitaet" value="4">
            <label>Stimme eher zu</label>
          </li>
          <li>
            <input type="radio" name="stabilitaet" value="5">
            <label>Stimme voll und ganz zu</label>
          </li>
        </ul>

        <label class="statement">Ziele und Zweck der beinhalteten Formulare waren mir klar.</label>
        <ul class='likert'>
          <li>
            <input type="radio" name="klarheit" value="1">
            <label>Stimme überhaupt nicht zu</label>
          </li>
          <li>
            <input type="radio" name="klarheit" value="2">
            <label>Stimme eher nicht zu</label>
          </li>
          <li>
            <input type="radio" name="klarheit" value="3">
            <label>Neutral</label>
          </li>
          <li>
            <input type="radio" name="klarheit" value="4">
            <label>Stimme eher zu</label>
          </li>
          <li>
            <input type="radio" name="klarheit" value="5">
            <label>Stimme voll und ganz zu</label>
          </li>
        </ul>

        <label class="statement">Das Tool hat mir geholfen, die Systematik beim Aufbau der Business Intelligence besser zu
        verstehen.</label>
        <ul class='likert'>
          <li>
            <input type="radio" name="verstaendnishilfe" value="1">
            <label>Stimme überhaupt nicht zu</label>
          </li>
          <li>
            <input type="radio" name="verstaendnishilfe" value="2">
            <label>Stimme eher nicht zu</label>
          </li>
          <li>
            <input type="radio" name="verstaendnishilfe" value="3">
            <label>Neutral</label>
          </li>
          <li>
            <input type="radio" name="verstaendnishilfe" value="4">
            <label>Stimme eher zu</label>
          </li>
          <li>
            <input type="radio" name="verstaendnishilfe" value="5">
            <label>Stimme voll und ganz zu</label>
          </li>
        </ul>

        <label class="statement">Durch das Tool habe ich Neues über den Aufbau der Business Intelligence erfahren und gelernt.</label>
        <ul class='likert'>
          <li>
            <input type="radio" name="lerneffekt" value="1">
            <label>Stimme überhaupt nicht zu</label>
          </li>
          <li>
            <input type="radio" name="lerneffekt" value="2">
            <label>Stimme eher nicht zu</label>
          </li>
          <li>
            <input type="radio" name="lerneffekt" value="3">
            <label>Neutral</label>
          </li>
          <li>
            <input type="radio" name="lerneffekt" value="4">
            <label>Stimme eher zu</label>
          </li>
          <li>
            <input type="radio" name="lerneffekt" value="5">
            <label>Stimme voll und ganz zu</label>
          </li>
        </ul>

        <label class="statement">Ich wurde gut durch das Tool geleitet und bekam Anweisungen, wo ich was einfüllen muss.</label>
        <ul class='likert'>
          <li>
            <input type="radio" name="anleitung" value="1">
            <label>Stimme überhaupt nicht zu</label>
          </li>
          <li>
            <input type="radio" name="anleitung" value="2">
            <label>Stimme eher nicht zu</label>
          </li>
          <li>
            <input type="radio" name="anleitung" value="3">
            <label>Neutral</label>
          </li>
          <li>
            <input type="radio" name="anleitung" value="4">
            <label>Stimme eher zu</label>
          </li>
          <li>
            <input type="radio" name="anleitung" value="5">
            <label>Stimme voll und ganz zu</label>
          </li>
        </ul>

        <label class="statement">Das Tool hat mir geholfen zu erkennen, ob und wo in meinem Unternehmen BI-Optimierungspotenzial
        vorhanden ist.</label>
        <ul class='likert'>
          <li>
            <input type="radio" name="optimierungspotenzial" value="1">
            <label>Stimme überhaupt nicht zu</label>
          </li>
          <li>
            <input type="radio" name="optimierungspotenzial" value="2">
            <label>Stimme eher nicht zu</label>
          </li>
          <li>
            <input type="radio" name="optimierungspotenzial" value="3">
            <label>Neutral</label>
          </li>
          <li>
            <input type="radio" name="optimierungspotenzial" value="4">
            <label>Stimme eher zu</label>
          </li>
          <li>
            <input type="radio" name="optimierungspotenzial" value="5">
            <label>Stimme voll und ganz zu</label>
          </li>
        </ul>

        <label class="statement">Das Tool bietet einen Mehrwert für Personen, die keine
        Experten der Business Intelligence sind und Hilfe beim Aufbau der BI-Prozesse benötigen. </label>
        <ul class='likert'>
          <li>
            <input type="radio" name="mehrwert" value="1">
            <label>Stimme überhaupt nicht zu</label>
          </li>
          <li>
            <input type="radio" name="mehrwert" value="2">
            <label>Stimme eher nicht zu</label>
          </li>
          <li>
            <input type="radio" name="mehrwert" value="3">
            <label>Neutral</label>
          </li>
          <li>
            <input type="radio" name="mehrwert" value="4">
            <label>Stimme eher zu</label>
          </li>
          <li>
            <input type="radio" name="mehrwert" value="5">
            <label>Stimme voll und ganz zu</label>
          </li>
        </ul>
      <form action="">
        <label class="statement">Das Ziel dieses Tools lautet, den Aufbau der Business Intelligence in Unternehmen zu
          vereinfachen und sicherzustellen, dass beim Aufbau systematisch und vollständig vorgegangen wird. Dieses
          Ziel wird erreicht. </label>
        <ul class='likert'>
          <li>
            <input type="radio" name="ziel_erreicht" value="1">
            <label>Stimme überhaupt nicht zu</label>
          </li>
          <li>
            <input type="radio" name="ziel_erreicht" value="2">
            <label>Stimme eher nicht zu</label>
          </li>
          <li>
            <input type="radio" name="ziel_erreicht" value="3">
            <label>Neutral</label>
          </li>
          <li>
            <input type="radio" name="ziel_erreicht" value="4">
            <label>Stimme eher zu</label>
          </li>
          <li>
            <input type="radio" name="ziel_erreicht" value="5">
            <label>Stimme voll und ganz zu</label>
          </li>
        </ul>
        <label class="statement">Welche Verbesserungsvorschläge haben Sie für den Business Intelligence-Prozess?</label>
       <div class="text-center"> <textarea name="improvements" rows="4" cols="150"></textarea>
       </div>
         <label class="statement">Kommentare/ Was ich sonst noch sagen wollte:</label>
       <div class="text-center"> <textarea name="comments" rows="4" cols="150"></textarea>
       </div>
             <br>
              <br>
        <div class="text-center">
            <input type="submit" value="Feedback einreichen" class="btn btn-primary btn-lg">
            <br>
            <br>
        </div>
      </form>
    </div>



{% include "footer.html" %}
