{% include "header.html" %}

<div class="container">
    <h4 class="rahmen">Evaluationsbogen für den Business Intelligence-Prozess</h4>
    <form action="/submit_feedback" method="post">

    <table class="likert-table">
  <br>
        <br>
      <tr>
        <td>Vor-/Nachname (oder Initialen):</td>
        <td><input type="text" name="name" required></td>
      </tr>
      <tr>
        <td>Branche:</td>
        <td><input type="text" name="industry" required></td>
      </tr>
      <tr>
        <td>Unternehmensgröße:</td>
        <td>
          <select class="form-select form-select-sm" name="company_size" required>
            <option value="">Bitte auswählen</option>
            <option value="1-9">1-9 Mitarbeitende</option>
            <option value="10-49">10-49 Mitarbeitende</option>
            <option value="50-249">50-249 Mitarbeitende</option>
            <option value=">249+">>249 Mitarbeitende</option>
          </select>
        </td>
      </tr>
      <tr>
        <td>Einschätzung der eigenen BI-Kenntnisse: </td>
        <td>
          <select class="form-select form-select-sm" name="company_size" required>
            <option value="">Bitte auswählen</option>
            <option value="0">Keine Kenntnisse</option>
            <option value="1">Grundkenntnisse</option>
            <option value="2">Fortgeschrittene Kenntnisse</option>
            <option value="3">Experte</option>
          </select>
        </td>
      </tr>
    </table>
      <br>
      <br>
     <div class="wrap">
      <form action="">
        <label class="statement">Inwieweit wurden die definierten Ziele des Business Intelligence-Prozesses erreicht?</label>
        <ul class='likert'>
          <li>
            <input type="radio" name="ziele_erreicht" value="0">
            <label>Stimme überhaupt nicht zu</label>
          </li>
          <li>
            <input type="radio" name="ziele_erreicht" value="1">
            <label>Stimme nicht zu</label>
          </li>
          <li>
            <input type="radio" name="ziele_erreicht" value="3">
            <label>Neutral</label>
          </li>
          <li>
            <input type="radio" name="ziele_erreicht" value="4">
            <label>Stimme zu</label>
          </li>
          <li>
            <input type="radio" name="ziele_erreicht" value="5">
            <label>Stimme voll und ganz zu</label>
          </li>
        </ul>

        <label class="statement">Wie genau sind die analysierten Daten und generierten Berichte?</label>
        <ul class='likert'>
          <li>
            <input type="radio" name="likert2" value="0">
            <label>Stimme überhaupt nicht zu</label>
          </li>
          <li>
            <input type="radio" name="likert2" value="1">
            <label>Stimme nicht zu</label>
          </li>
          <li>
            <input type="radio" name="likert2" value="3">
            <label>Neutral</label>
          </li>
          <li>
            <input type="radio" name="likert2" value="4">
            <label>Stimme zu</label>
          </li>
          <li>
            <input type="radio" name="likert2" value="5">
            <label>Stimme voll und ganz zu</label>
          </li>
        </ul>

        <label class="statement">Wie zufrieden sind die Nutzer mit den bereitgestellten Informationen und Ergebnissen?</label>
        <ul class='likert'>
          <li>
            <input type="radio" name="likert3" value="0">
            <label>Stimme überhaupt nicht zu</label>
          </li>
          <li>
            <input type="radio" name="likert3" value="1">
            <label>Stimme nicht zu</label>
          </li>
          <li>
            <input type="radio" name="likert3" value="3">
            <label>Neutral</label>
          </li>
          <li>
            <input type="radio" name="likert3" value="4">
            <label>Stimme zu</label>
          </li>
          <li>
            <input type="radio" name="likert3" value="5">
            <label>Stimme voll und ganz zu</label>
          </li>
        </ul>

        <label class="statement">Wie lange dauert die Bearbeitung von Datenanfragen im Business Intelligence-Prozess?</label>
        <ul class='likert'>
          <li>
            <input type="radio" name="likert4" value="0">
            <label>Stimme überhaupt nicht zu</label>
          </li>
          <li>
            <input type="radio" name="likert4" value="1">
            <label>Stimme nicht zu</label>
          </li>
          <li>
            <input type="radio" name="likert4" value="3">
            <label>Neutral</label>
          </li>
          <li>
            <input type="radio" name="likert4" value="4">
            <label>Stimme zu</label>
          </li>
          <li>
            <input type="radio" name="likert4" value="5">
            <label>Stimme voll und ganz zu</label>
          </li>
        </ul>

        <label class="statement">Wie hoch sind die Kosten für den Betrieb des Business Intelligence-Prozesses im Verhältnis zu den erzielten Ergebnissen?</label>
        <ul class='likert'>
          <li>
            <input type="radio" name="likert5" value="0">
            <label>Stimme überhaupt nicht zu</label>
          </li>
          <li>
            <input type="radio" name="likert5" value="1">
            <label>Stimme nicht zu</label>
          </li>
          <li>
            <input type="radio" name="likert5" value="3">
            <label>Neutral</label>
          </li>
          <li>
            <input type="radio" name="likert5" value="4">
            <label>Stimme zu</label>
          </li>
          <li>
            <input type="radio" name="likert5" value="5">
            <label>Stimme voll und ganz zu</label>
          </li>
        </ul>

        <label class="statement">Wie gut ist der Ressourcenverbrauch (z.B. CPU-Auslastung, Speicherbedarf) im Business Intelligence-Prozess optimiert?</label>
        <ul class='likert'>
          <li>
            <input type="radio" name="likert6" value="0">
            <label>Stimme überhaupt nicht zu</label>
          </li>
          <li>
            <input type="radio" name="likert6" value="1">
            <label>Stimme nicht zu</label>
          </li>
          <li>
            <input type="radio" name="likert6" value="3">
            <label>Neutral</label>
          </li>
          <li>
            <input type="radio" name="likert6" value="4">
            <label>Stimme zu</label>
          </li>
          <li>
            <input type="radio" name="likert6" value="5">
            <label>Stimme voll und ganz zu</label>
          </li>
        </ul>

        <label class="statement">Wie flexibel ist der Business Intelligence-Prozess, um sich an veränderte Geschäftsanforderungen anzupassen?</label>
        <ul class='likert'>
          <li>
            <input type="radio" name="likert7" value="0">
            <label>Stimme überhaupt nicht zu</label>
          </li>
          <li>
            <input type="radio" name="likert7" value="1">
            <label>Stimme nicht zu</label>
          </li>
          <li>
            <input type="radio" name="likert7" value="3">
            <label>Neutral</label>
          </li>
          <li>
            <input type="radio" name="likert7" value="4">
            <label>Stimme zu</label>
          </li>
          <li>
            <input type="radio" name="likert7" value="5">
            <label>Stimme voll und ganz zu</label>
          </li>
        </ul>

        <label class="statement">Wie gut können neue Datenquellen in den Business Intelligence-Prozess integriert werden?</label>
        <ul class='likert'>
          <li>
            <input type="radio" name="likert8" value="0">
            <label>Stimme überhaupt nicht zu</label>
          </li>
          <li>
            <input type="radio" name="likert8" value="1">
            <label>Stimme nicht zu</label>
          </li>
          <li>
            <input type="radio" name="likert8" value="3">
            <label>Neutral</label>
          </li>
          <li>
            <input type="radio" name="likert8" value="4">
            <label>Stimme zu</label>
          </li>
          <li>
            <input type="radio" name="likert8" value="5">
            <label>Stimme voll und ganz zu</label>
          </li>
        </ul>

        <label class="statement">Inwieweit berücksichtigt der Business Intelligence-Prozess neue technologische Entwicklungen und Trends?</label>
        <ul class='likert'>
          <li>
            <input type="radio" name="likert9" value="0">
            <label>Stimme überhaupt nicht zu</label>
          </li>
          <li>
            <input type="radio" name="likert9" value="1">
            <label>Stimme nicht zu</label>
          </li>
          <li>
            <input type="radio" name="likert9" value="3">
            <label>Neutral</label>
          </li>
          <li>
            <input type="radio" name="likert9" value="4">
            <label>Stimme zu</label>
          </li>
          <li>
            <input type="radio" name="likert9" value="5">
            <label>Stimme voll und ganz zu</label>
          </li>
        </ul>

        <label class="statement">Wie zufrieden sind Sie insgesamt mit dem entwickelten Business Intelligence-Prozess?</label>
        <ul class='likert'>
          <li>
            <input type="radio" name="ziele_erreicht0" value="0">
            <label>Stimme überhaupt nicht zu</label>
          </li>
          <li>
            <input type="radio" name="ziele_erreicht0" value="1">
            <label>Stimme nicht zu</label>
          </li>
          <li>
            <input type="radio" name="ziele_erreicht0" value="3">
            <label>Neutral</label>
          </li>
          <li>
            <input type="radio" name="ziele_erreicht0" value="4">
            <label>Stimme zu</label>
          </li>
          <li>
            <input type="radio" name="ziele_erreicht0" value="5">
            <label>Stimme voll und ganz zu</label>
          </li>
        </ul>

        <label class="statement">Welche Verbesserungsvorschläge haben Sie für den Business Intelligence-Prozess?</label>
       <div class="text-center"> <textarea name="improvements" rows="4" cols="195"></textarea>
       </div>
             <br>
              <br>
        <div class="text-center">
            <input type="submit" value="Feedback einreichen" class="btn btn-primary btn-lg">
            <br>
            <br>
        </div>
      </form>
    </div>



{% include "footer.html" %}
