{% include "header.html" %}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h3 class="rahmen">BI Planner Tool Beta Version</h3><br>
            <div class="btn-group d-grid gap-2">
                <a href="{{ url_for('reifegrad') }}" class="btn btn-primary" role="button">Business Intelligence-Reifegrad prüfen</a>
                <a href="{{ url_for('reifegrad_auswertung') }}" class="btn btn-primary" role="button">Beurteilung Reifegrad</a>
                <br>
                <a href="{{ url_for('rahmenbedingungen') }}" class="btn btn-primary" role="button">Rahmenbedingungen erfassen</a>
                <br>
                <a href="{{ url_for('unternehmensziele') }}" class="btn btn-primary" role="button">Unternehmensziele erfassen</a>
                <a href="{{ url_for('informationsbedarf') }}" class="btn btn-primary" role="button">Informationsbedarf und Metriken erfassen</a>
                <a href="{{ url_for('datenquellen') }}" class="btn btn-primary" role="button">Datenquellen erfassen</a>
                <br>
                <a href="{{ url_for('datenmanagementkonzept') }}" class="btn btn-primary" role="button">Datenmanagementkonzept erfassen</a>
                <a href="{{ url_for('etl') }}" class="btn btn-primary" role="button">ETL-Prozess</a>
                <br>
                <a href="{{ url_for('analysen') }}" class="btn btn-primary" role="button">Analyse erfassen</a>
                <br>
                <a href="{{ url_for('informationsbereitstellung') }}" class="btn btn-primary" role="button">Informationsbereitstellung planen</a>
                <a href="{{ url_for('visualisierung') }}" class="btn btn-primary" role="button">Qualitätskontrolle Visualisierung</a>
                <a href="{{ url_for('dashboard') }}" class="btn btn-primary" role="button">Qualitätskontrolle Dashboard</a>
                <br>
                <a href="{{ url_for('auswertungen') }}" class="btn btn-primary" role="button">Auswertungen</a>
                <br>
                <a href="{{ url_for('feedback') }}" class="btn btn-primary" role="button">Feedback an den Entwickler</a>
            </div>
        </div>
    </div>
</div>

{% include "footer.html" %}
