{% include "header.html" %}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h4 class="rahmen">Business Intelligence Planner Tool</h4><br>
            <div class="btn-group d-grid gap-2">
                <a href="{{ url_for('einfuehrung') }}" class="btn btn-primary" role="button">Einführung zum Starten</a>
                <a href="{{ url_for('reifegrad') }}" class="btn btn-secondary" role="button">Standortbestimmung zur Business Intelligence in Ihrem Unternehmen</a>
                <a href="{{ url_for('reifegrad_auswertung') }}" class="btn btn-secondary" role="button">Auswertung der Standortbestimmung</a>
                <a href="{{ url_for('rahmenbedingungen') }}" class="btn btn-dark" role="button">Rahmenbedingungen erfassen</a>
                <a href="{{ url_for('unternehmensziele') }}" class="btn btn-warning" role="button">Unternehmensziele erfassen</a>
                <a href="{{ url_for('informationsbedarf') }}" class="btn btn-warning" role="button">Informationsbedarf erfassen</a>
                <a href="{{ url_for('datenquellen') }}" class="btn btn-warning" role="button">Datenquellen erfassen</a>
                <a href="{{ url_for('datenmanagementkonzept') }}" class="btn btn-info" role="button">Datenmanagementkonzept bestimmen</a>
                <a href="{{ url_for('etl') }}" class="btn btn-info" role="button">ETL-Prozesse bilden</a>
                <a href="{{ url_for('analysen') }}" class="btn btn-dark" role="button">Analysen planen</a>
                <a href="{{ url_for('informationsbereitstellung') }}" class="btn btn-success" role="button">Informationsbereitstellung planen</a>
                <a href="{{ url_for('visualisierung') }}" class="btn btn-success" role="button">Qualitätskontrolle Visualisierungen</a>
                <a href="{{ url_for('dashboard') }}" class="btn btn-success" role="button">Qualitätskontrolle Dashboards</a>
                <a href="{{ url_for('auswertungen') }}" class="btn btn-primary" role="button">Auswertungen</a>
                <a href="{{ url_for('feedback') }}" class="btn btn-primary" role="button">Feedback an den Entwickler</a>
            </div>
        </div>
    </div>
</div>

{% include "footer.html" %}
