{% include "header.html" %}

<div class="container">
    <div class="progress">
        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width:35%;" aria-valuenow="35" aria-valuemin="0" aria-valuemax="100">35%</div>
    </div>
</div>
<br>
<div class="container">
    <h4 class="rahmen">Informationsbedarf</h4>
    <br>
        <p style="text-align: justify;">
        Sie haben im vorherigen Schritt die Unternehmensziele aufgelistet. Diese können Sie nun im Feld «betroffenes Ziel»
        abrufen. Überlegen Sie sich nun, was Sie in Erfahrung bringen müssen, um die Erreichung Ihres Unternehmensziels
        zu überprüfen. Haben Sie beispielsweise als Ziel, den Umsatz um 10% pro Jahr zu steigern, brauchen Sie dafür
        den jährlichen Umsatz Ihres Unternehmens. Wählen Sie also eine kurze und nachvollziehbare Beschreibung
            (bspw. Umsatzentwicklung pro Jahr), wählen Sie das betroffene Ziel aus der Liste und vergeben Sie eine Priorität.
        Später kann unter Umständen nicht für jeden Informationsbedarf eine Messzahl kreiert werden. Die Priorität dient also
        dazu, dass der Fokus auf die wichtigen Messungen gelegt werden kann. Hinweis: Pro betroffenem Ziel können mehrere
        Einträge erfolgen. So kann etwa der Informationsbedarf für ein theoretisches Ziel «hohe Kundenzufriedenheit»
        mit der Reklamationsquote als auch mit Online-Bewertungen gemessen werden.</p>
    <form action="/informationsbedarf" method="POST"><br>
        <div class="input-group mb-3">
            <select id="betroffenes_ziel" name="betroffenes_ziel" class="form-control" placeholder="betroffenes Ziel">
                <option value="" selected disabled>betroffenes Ziel</option>
                <!-- Hier werden die Dropdown-Optionen aus der CSV-Datei eingefügt -->
                {% for ziel in dropdown_options %}
                    <option value="{{ ziel }}">{{ ziel }}</option>
                {% endfor %}
            </select>
            <input type="text" id="bezeichnung" name="bezeichnung" class="form-control" placeholder="Beschreibung Informationsbedarf" aria-label="Bezeichnung">
            <select id="prioritaet" name="prioritaet" class="form-control" placeholder="Priorität">
                <option value="0" selected disabled>Priorität</option>
                <option value="A">A</option>
                <option value="B">B</option>
                <option value="C">C</option>
                <option value="D">D</option>
            </select>
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="submit">Informationsbedarf hinzufügen</button>
            </div>
        </div>
    </form>
    <br>
    <h5>Liste Informationsbedarf:</h5>
    <div class="table-container" style="display: inline-block;">
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>Nummer</th>
                    <th>Bezeichnung</th>
                    <th>Informationsbedarf</th>
                    <th>Priorität</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for nummer, informationsbedarf in informationsbedarf_liste %}
                <tr>
                    <td>{{ nummer }}</td>
                    <td>{{ informationsbedarf[0] }}</td>
                    <td>{{ informationsbedarf[1] }}</td>
                    <td>{{ informationsbedarf[2] }}</td>
                     <td>
                        <form action="/informationsbedarf/delete" method="POST">
                            <input type="hidden" name="informationsbedarf_nummer" value="{{ nummer }}">
                            <input type="submit" value="Löschen">
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<br>
<br>
<div class="text-center">
    <a href="/unternehmensziele" class="btn btn-secondary">Zurück</a>
    <a href="/datenquellen" class="btn btn-primary">Weiter</a>
</div>

<script>
    $(function () {
        $('#radioBtn a').on('click', function () {
            var sel = $(this).data('title');
            var tog = $(this).data('toggle');
            $('#' + tog).prop('value', sel);

            $('a[data-toggle="' + tog + '"]').not('[data-title="' + sel + '"]').removeClass('active').addClass('notActive');
            $('a[data-toggle="' + tog + '"][data-title="' + sel + '"]').removeClass('notActive').addClass('active');
        });
    });
</script>

{% include "footer.html" %}
