{% include "header.html" %}
<head>
    <title>Ausgangslage</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>Fragebogen</h1>
    <form action="/submit" method="POST">
    <ol>
    <h2>Analytik</h2>

        <li>Wie weit reicht der Umfang Ihrer Analysen?</li>
        <select name="analytics_answer1" required>
            <option value="">Bitte wählen</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
        </select>

        <li>Welche Arten von Analysen werden verwendet?</li>
        <li>Wie werden Analyseergebnisse in der Organisation bereitgestellt?</li>
        <li>Wie viele Personen in der Organisation führen ihre eigenen Analysen durch?</li>
        <li>Ist BIA in Geschäftsprozesse eingebettet?</li>
        <li>Werden Vorhersagemodelle oder maschinelle Lernmodelle verwendet?</li>
        <li>Werden automatisierte Analysen eingesetzt?</li>


    <h2>Governance</h2>

        <li>Wie kohärent ist die Data-Governance-Strategie des Unternehmens zur Unterstützung des Analyseprogramms?</li>
        <li>Kann das Unternehmen die BIA effektiv mit IT-Prozessen und -Richtlinien in Einklang bringen?</li>
        <li>Gibt es eine Zusammenarbeit zwischen operativem Geschäft und der IT?</li>
        <li>Kann die Organisation den ordnungsgemäßen Zugriff und die Nutzung von Daten sicherstellen?</li>
        <li>Werden Vorhersagemodelle und maschinelle Lernmodelle überwacht?</li>
        <li>Welche Schutzmassnahmen und Kontrollen werden implementiert?</li>
        <li>Wie werden Modelle in die Produktion überführt und kontrolliert?</li>
        <li>Sind die richtigen Rollen sowohl im operativen Geschäft als auch in der IT vorhanden?</li>
        <li>Nutzt die Organisation moderne Tools, um vertrauenswürdige Datenbestände aufzubauen?</li>
        <li>Werden Sicherheits- und Datenschutzmassnahmen für personenbezogene Daten und andere sensible Datentypen implementiert?</li>

    <h2>Reifegrad</h2>

        <li>Tragen Strategie, Kultur und Führung dazu bei, BIA zu unterstützen und zu fördern?</li>
        <li>Wird BIA in der gesamten Organisation für die Entscheidungsfindung verwendet?</li>
        <li>Wie viele Teams nutzen BIA für ihre täglichen Entscheidungen?</li>
        <li>Ist es einfach, BIA in bestehende Prozesse einzubinden?</li>
        <li>Gibt es eine Kultur des Vertrauens in die BIA?</li>
        <li>Besteht die Bereitschaft, neue Dinge auszuprobieren?</li>

    <h2>Ressourcen</h2>

        <li>Bestehen ausreichend finanzielle Mittel für die BIA?</li>
        <li>Wie einfach gestaltet sich die Einführung und Umsetzung von BIA?</li>
        <li>Entwickelt die Organisation Talente und baut Fähigkeiten im Bereich BIA auf?</li>
        <li>Verfügt das Unternehmen über die erforderlichen Talente und Fähigkeiten für BIA?</li>
        <li>Hat das Unternehmen Schwierigkeiten, die bestehende BIA-Infrastruktur aufrechtzuerhalten?</li>
        <li>Ist die bestehende BIA wartungsintensiv?</li>


    <h2>Dateninfrastruktur</h2>

        <li>Wie sind die Daten zu charakterisieren in Bezug auf: Volumen, Frequenzen, Integrität?</li>
        <li>Sind die Daten gut zugänglich?</li>
        <li>Wie werden die Daten integriert? Bestehen Schnittstellen (bspw. REST-APIs)?</li>
        <li>Ist die Datenarchitektur dezentralisiert?</li>
        <li>Werden Cloud-Services genutzt?</li>
        <li>Ist die Datenarchitektur kohärent?</li>
        <li>Kann die Infrastruktur mit einem Wachstum der Nutzerzahlen umgehen?</li>
        <li>Kann die Infrastruktur je nach Anwendungsfall skaliert werden?</li>
        <li>Ist sie monolithisch oder basiert sie auf Microservices?</li>
    </ol>
        <input type="submit" value="Absenden">
    </form>
</body>
{% include "footer.html" %}
