{% include "header.html" %}

<div class="container">
    <div class="progress">
        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width:20%;" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">20%</div>
    </div>
</div>
<br>
<div class="container">
    <h4 class="rahmen">Rahmenbedingungen</h4>
        <br>
            <p style="text-align: justify;">
            Als Nächstes prüfen wir die Rahmenbedingungen in Ihrem Unternehmen. Bedenken Sie, dass der Aufbau und Betrieb
                der Business Intelligence davon abhängt, welche Umstände vorgefunden werden.
                Die Fragen sollen Ihnen dabei helfen, die Rahmenbedingungen zu kennen und
                zu wissen, wo Sie noch Abklärungen tätigen müssen. Wird beispielsweise die IT
                extern betrieben, müssen Sie den externen IT-Partner beim Aufbau einbeziehen und verschiedene Aufgaben
                unter Umständen outsourcen. Wenn nicht bekannt ist, wie hoch der finanzielle Bedarf ist, sollten Sie
                Offerten für die notwendigen Komponenten einholen und klären, ob die finanziellen Mittel dafür
                bereitgestellt werden. Klicken Sie nach dem Ausfüllen auf Speichern. Die Daten werden Ihnen danach unten
                als Tabelle dargestellt. Sie können die Rahmenbedingungen bei Änderungen jederzeit erneuern, indem Sie
                den alten Eintrag löschen und einen neuen Eintrag erstellen.
            </p>
        <br>
    <form action="/rahmenbedingungen" method="POST">
        <table class="table table-striped table-hover" border="1">
            <thead>
            <tr>
                <th colspan="2" style="background-color: lightgray; text-align: center;">Rahmenbedingungen</th>
            </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Wie wird die IT betrieben?</td>
                    <td>
                    <div class="form-group">
                            <div class="input-group">
                                <div id="radioBtn" class="btn-group">
                                    <a class="btn btn-primary btn-sm notActive" data-toggle="betrieb" data-title="intern" style="width: 55px;" style="width: 55px;">intern</a>
                                    <a class="btn btn-primary btn-sm notActive" data-toggle="betrieb" data-title="extern"  style="width: 55px;">extern</a>
                                </div>
                                <input type="hidden" name="betrieb" id="betrieb">
                            </div>
                    </div>
                </td>
                </tr>
                <tr>
                    <td>Wie soll die Business Intelligence aufgebaut und betrieben werden?</td>
                    <td>
                        <div class="form-group">
                            <div class="input-group">
                                <select class="form-select form-select-sm" aria-label=".form-select-sm example" id="aufbau" name="aufbau" style="width: 180px;">
                                    <option value="" selected>auswählen</option>
                                    <option value="Einbettung">Einbettung in bestehende Strukturen</option>
                                    <option value="BICC">BI-Competency Center</option>
                                    <option value="Externe Partner">Externe Partner</option>
                                    <option value="noch unklar">noch unklar</option>
                                </select>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>Stehen den Unternehmen genügend Personen für den Aufbau und Betrieb von Business Intelligence zur Verfügung?</td>
                    <td>
                    <div class="form-group">
                            <div class="input-group">
                                <div id="radioBtn" class="btn-group">
                                    <a class="btn btn-primary btn-sm notActive" data-toggle="personenressourcen" data-title="ja" style="width: 55px;">ja</a>
                                    <a class="btn btn-primary btn-sm notActive" data-toggle="personenressourcen" data-title="nein"  style="width: 55px;">nein</a>
                                </div>
                                <input type="hidden" name="personenressourcen" id="personenressourcen">
                            </div>
                    </div>
                    </td>
                </tr>
                <tr>
                    <td>Ist das notwendige Know-how für den Aufbau und den Betrieb von Business Intelligence vorhanden?</td>
                    <td>
                    <div class="form-group">
                            <div class="input-group">
                                <div id="radioBtn" class="btn-group">
                                    <a class="btn btn-primary btn-sm notActive" data-toggle="knowhow" data-title="ja" style="width: 55px;">ja</a>
                                    <a class="btn btn-primary btn-sm notActive" data-toggle="knowhow" data-title="nein"  style="width: 55px;">nein</a>
                                </div>
                                <input type="hidden" name="knowhow" id="knowhow">
                            </div>
                    </div>
                    </td>
                </tr>
                <tr>
                    <td>Wie hoch ist der finanzielle Bedarf für den Aufbau und den Betrieb von Business Intelligence?</td>
                    <td>
                    <div class="form-group">
                            <div class="input-group">
                                <div id="radioBtn" class="btn-group">
                                    <a class="btn btn-primary btn-sm notActive" data-toggle="bedarf" data-title="bekannt" >bekannt</a>
                                    <a class="btn btn-primary btn-sm notActive" data-toggle="bedarf" data-title="unbekannt">unbekannt</a>
                                </div>
                                <input type="hidden" name="bedarf" id="bedarf">
                            </div>
                    </div>
                    </td>
                </tr>
                <tr>
                    <td>Werden die benötigten finanziellen Mittel für Aufbau und den Betrieb der geplanten Business Intelligence bereitgestellt?</td>
                    <td>
                    <div class="form-group">
                            <div class="input-group">
                                <div id="radioBtn" class="btn-group">
                                    <a class="btn btn-primary btn-sm notActive" data-toggle="mittel" data-title="ja" style="width: 55px;">ja</a>
                                    <a class="btn btn-primary btn-sm notActive" data-toggle="mittel" data-title="nein"  style="width: 55px;">nein</a>
                                </div>
                                <input type="hidden" name="mittel" id="mittel">
                            </div>
                    </div>
                    </td>
                </tr>
                <tr>
                    <td>Ist beabsichtigt, Personendaten im Rahmen der Business Intelligence zu analysieren?</td>
                    <td>
                    <div class="form-group">
                            <div class="input-group">
                                <div id="radioBtn" class="btn-group">
                                    <a class="btn btn-primary btn-sm notActive" data-toggle="personendaten" data-title="ja" style="width: 55px;">ja</a>
                                    <a class="btn btn-primary btn-sm notActive" data-toggle="personendaten" data-title="nein"  style="width: 55px;">nein</a>
                                </div>
                                <input type="hidden" name="personendaten" id="personendaten">
                            </div>
                    </div>
                    </td>
                </tr>
                <tr>
                    <td>Ermöglicht die Gesetzeslage die Bearbeitung von Personendaten für analytische Zwecke?</td>
                    <td>
                    <div class="form-group">
                            <div class="input-group">
                                <div id="radioBtn" class="btn-group">
                                    <a class="btn btn-primary btn-sm notActive" data-toggle="gesetzeslage" data-title="ja" style="width: 55px;">ja</a>
                                    <a class="btn btn-primary btn-sm notActive" data-toggle="gesetzeslage" data-title="nein"  style="width: 55px;">nein</a>
                                </div>
                                <input type="hidden" name="gesetzeslage" id="gesetzeslage">
                            </div>
                    </div>
                    </td>
                </tr>
                <tr>
                    <td>Welche Gesetze müssen innerhalb der Business Intelligence berücksichtigt werden?</td>
                        <td>
                            <div class="form-group">
                                <div class="input-group">
                                    <select class="form-select form-select-sm" aria-label=".form-select-sm example" id="gesetz" name="gesetz">
                                        <option value="" selected>auswählen</option>
                                        <option value="DSG">DSG</option>
                                        <option value="DSGVO">DSGVO</option>
                                        <option value="DSG und DSGVO">DSG und DSGVO</option>
                                        <option value="unklar">unklar</option>
                                    </select>
                                </div>
                            </div>
                        </td>
                </tr>
            </tbody>
        </table>
        <div class="text-center">
            <input type="submit" value="Speichern" class="btn btn-primary btn-lg">
        </div>
    </form>
    <br>
    <h5>Gespeicherte Rahmenbedingungen:</h5>
    <div class="table-container" style="display: inline-block;">
        <table class="table table-striped table-hover" border="1">
            <thead>
                <tr>
                    <th>IT-Betrieb</th>
                    <th>BI-Aufbau</th>
                    <th>Ressourcen vorhanden</th>
                    <th>Know-how vorhanden</th>
                    <th>finanzieller Bedarf</th>
                    <th>finanzielle Mittel sichergestellt</th>
                    <th>Personendaten</th>
                    <th>gesetzeskonforme Bearbeitung</th>
                    <th>Gesetze</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for nummer, rahmenbedingung in rahmenbedingungen %}
                <tr>
                    <td>{{ rahmenbedingung[0] }}</td>
                    <td>{{ rahmenbedingung[1] }}</td>
                    <td>{{ rahmenbedingung[2] }}</td>
                    <td>{{ rahmenbedingung[3] }}</td>
                    <td>{{ rahmenbedingung[4] }}</td>
                    <td>{{ rahmenbedingung[5] }}</td>
                    <td>{{ rahmenbedingung[6] }}</td>
                    <td>{{ rahmenbedingung[7] }}</td>
                    <td>{{ rahmenbedingung[8] }}</td>
                    <td></td>
                     <td>
                        <form action="/rahmenbedingungen/delete" method="POST">
                            <input type="hidden" name="rahmenbedingung_nummer" value="{{ nummer }}">
                            <input type="submit" value="Löschen">
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<br>
<br>
<div class="text-center">
    <a href="/reifegrad" class="btn btn-secondary">Zurück</a>
    <a href="/unternehmensziele" class="btn btn-primary">Weiter</a>
</div>
<script>
    $(function () {
        $('#radioBtn a').on('click', function () {
            var sel = $(this).data('title');
            var tog = $(this).data('toggle');
            $('#' + tog).prop('value', sel);

            $('a[data-toggle="' + tog + '"]').not('[data-title="' + sel + '"]').removeClass('active').addClass('notActive');
            $('a[data-toggle="' + tog + '"][data-title="' + sel + '"]').removeClass('notActive').addClass('active');
        });
    });
</script>
{% include "footer.html" %}
