{% include "header.html" %}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h4 class="rahmen">Business Intelligence Planner Tool</h4><br>
            <p style="text-align: justify;">
                Diese Web-Applikation wurde von Michael Schlotter im Rahmen der Master Thesis im Jahr 2023 an der Fachhochschule
                Graubünden erstellt. In dieser Web-Applikation wird der in der Thesis beschriebene Prozess für den Aufbau und den
                Betrieb der Business Intelligence für Schweizer Unternehmen abgehandelt. Beachten Sie, dass alle
                Angaben, die in den Formularen erfasst werden, öffentlich sichtbar sind. Geben Sie daher bitte keine
                vertraulichen Daten ein. Alle getätigten Eingaben können mit einem Klick auf den roten Button
                "Alle Eingaben löschen" (rechts oben) gelöscht werden. Ausgefüllte Feedback-Formulare werden dabei nicht
                gelöscht und in der Master Thesis verwendet.
            </p>
            <div class="btn-group d-grid gap-2">
                <a href="{{ url_for('einfuehrung') }}" class="btn btn-primary" role="button">Starten</a>
            </div>
        </div>
    </div>
</div>

{% include "footer.html" %}
